/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "spanish.h"

/ {
    behaviors {
        slash_underscore: slash_underscore {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH_TO_UNDERSCORE";
            #binding-cells = <0>;
            bindings = <&kp LS(N7)>, <&kp UNDER>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
// -------------------------------------------------------------   -------------------------------------------------------------
// |   ESC   |    Q    |    W    |    E    |    R    |    T    |   |    Y    |    U    |    I    |    O    |    P    |  BKSP   |
     ES_ESC     ES_Q      ES_W      ES_E      ES_R      ES_T          ES_Y      ES_U      ES_I      ES_O      ES_P     ES_BSPC
// |         |         |         |         |         |         |   |         |         |         |         |         |         |
// -------------------------------------------------------------   -------------------------------------------------------------
// |   TAB   |    A    |    S    |    D    |    F    |    G    |   |    H    |    J    |    K    |    L    |    Ñ    |  R-CTRL |
     ES_TAB     ES_A      ES_S      ES_D      ES_F      ES_G          ES_H      ES_J      ES_K      ES_L     ES_EGNE   ES_RCTRL
// |         |         |         |         |         |         |   |         |         |         |         |         |         |
// -------------------------------------------------------------   -------------------------------------------------------------
// |  SHFT   |    Z    |    X    |    C    |    V    |    B    |   |    N    |    M    |    ,    |    .    |    /    |   SHFT  |
     ES_LSHFT   ES_Z      ES_X      ES_C      ES_V      ES_B          ES_N      ES_M     ES_COMMA  ES_DOT    ES_SLASH  ES_RSHFT 
// |         |         |         |         |         |         |   |         |         |         |         |         |         |
// -------------------------------------------------------------   -------------------------------------------------------------
//                               |   CMD   |   LWR   |  SPACE  |   |  RETURN |   RSE   |   ALT   |
                                   ES_LCMD    LAY_2    ES_SPC         ES_RET    LAY_1    ES_ALGR
//                               |         |         |         |   |         |         |         |
//                               -------------------------------   -------------------------------
            >;
        };

        number_layer {
            bindings = <
// -------------------------------------------------------------   -------------------------------------------------------------
// |   ESC   |    *    |    1    |    2    |    3    |    +    |   |         |         |         |         |         |         |
     ES_ESC    ES_STAR    ES_1      ES_2      ES_3     ES_PLUS       ES_HOME   ES_PGDN   ES_PGUP   ES_END    ES_TRANS  ES_TRANS
// |         |         |         |         |         |         |   |         |         |         |         |         |         |
// -------------------------------------------------------------   -------------------------------------------------------------
// |   TAB   |    /    |    4    |    5    |    6    |    -    |   |         |         |         |         |         |         |
     ES_TAB    ES_SLASH   ES_4      ES_5      ES_6     ES_DASH       ES_LEFT   ES_DOWN    ES_UP    ES_RIGHT  ES_TRANS  ES_TRANS
// |         |         |         |         |         |         |   |         |         |         |         |         |         |
// -------------------------------------------------------------   -------------------------------------------------------------
// |  SHFT   |    =    |    7    |    8    |    9    |    0    |   |         |         |         |         |         |         |
     ES_LSHFT  ES_EQUAL   ES_7      ES_8      ES_9      ES_0         ES_TRANS  ES_TRANS  ES_TRANS  ES_TRANS  ES_TRANS  ES_TRANS
// |         |         |         |         |         |         |   |         |         |         |         |         |         |
// -------------------------------------------------------------   -------------------------------------------------------------
//                               |         |         |         |   |         |         |         |
                                   ES_TRANS  ES_TRANS  ES_TRANS      ES_TRANS  ES_TRANS  ES_TRANS
//                               |         |         |         |   |         |         |         |
//                               -------------------------------   -------------------------------
            >;
        };

        symbol_layer {
            bindings = <
// -------------------------------------------------------------   -------------------------------------------------------------
// |   ESC   |    *    |    ~    |    @    |    #    |    +    |   |    "    |    {    |    }    |    =    |    ?    |  BKSP   |
     ES_ESC    ES_STAR   ES_TILDE   ES_AT    ES_HASH   ES_PLUS     ES_DOUB_APO ES_BRACE ES_BRACE_R ES_EQUAL ES_QUEST_R ES_BSPC
// |         |         |         |         |         |         |   |         |         |         |         |         |         |
// -------------------------------------------------------------   -------------------------------------------------------------
// |   TAB   |    /    |    $    |    %    |    &    |    -    |   |    '    |    (    |    )    |    |    |    `    |  R-CTRL |
     ES_TAB    ES_SLASH  ES_DOLL   ES_PERC   ES_AMPER  ES_DASH       ES_APOS   ES_PAREN ES_PAREN_R ES_PIPE  ES_ACEN_R  ES_RCTRL
// |         |         |         |         |         |         |   |         |         |         |         |         |         |
// -------------------------------------------------------------   -------------------------------------------------------------
// |  SHFT   |    =    |         |         |         |    ^    |   |    <    |    [    |    ]    |    >    |    \    |   SHFT  |
     ES_LSHFT  ES_EQUAL  ES_TRANS  ES_TRANS  ES_TRANS ES_ACEN_CIR   ES_LESS  ES_BRACKET ES_BRACKET_R ES_MORE ES_SLASH  ES_RSHFT 
// |         |         |         |         |         |         |   |         |         |         |         |         |         |
// -------------------------------------------------------------   -------------------------------------------------------------
//                               |         |         |         |   |         |         |         |
                                   ES_TRANS  ES_TRANS  ES_TRANS      ES_TRANS  ES_TRANS  ES_TRANS
//                               |         |         |         |   |         |         |         |
//                               -------------------------------   -------------------------------
            >;
        };
    };
};
