/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "keypos.h"
#include "helpers.h"
#include "spanish.dtsi"

#define ______ &trans

// layers
#define DEF 0
#define NUM 1
#define SYM 2

// Spanish definitions
#define es_egne   &kp SEMICOLON // Ñ ;

ZMK_BEHAVIOR(lshft_caps, tap_dance,
    tapping-term-ms = <250>;
    bindings = <&kp LSHFT>, <&kp CAPS>;
)

ZMK_BEHAVIOR(rshft_caps, tap_dance,
    tapping-term-ms = <250>; 
    bindings = <&kp RSHFT>, <&kp CAPS>;
)

ZMK_LAYER(default,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
           &kp ESC        &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I          &kp O        &kp P        &kp BSPC
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
           &kp TAB        &kp A      &mt LCTRL S   &mt LALT D    &mt LCMD F       &kp G             &kp H      &mt RCMD J    &mt RALT K    &mt RCTRL L     es_egne       &kp APOS
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
         &lshft_caps      &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M       &kp COMMA       &kp DOT     &kp LS(N7)   &rshft_caps
    // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                    &kp LCMD      &mo SYM        &kp SPC           &kp RET       &mo NUM       &kp RALT
    //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(numbers,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
           &kp ESC       &kp STAR      &kp N1        &kp N2        &kp N3       &kp PLUS           &kp HOME     &kp PG_DN     &kp PG_UP      &kp END       ______      &kp K_VOL_UP 
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
           &kp TAB      &kp SLASH      &kp N4        &kp N5        &kp N6       &kp MINUS          &kp LEFT     &kp DOWN       &kp UP       &kp RIGHT      ______      &kp K_MUTE
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          &kp LSHFT     &kp EQUAL      &kp N7        &kp N8        &kp N9        &kp N0            ______        ______        ______        ______        ______      &kp K_VOL_DN
    // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                     ______        ______        ______            ______        ______        ______
    //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(symbol,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
           &kp ESC      &kp STAR      &kp TILDE     &kp RA(N2)    &kp HASH      &kp PLUS           &kp DQT      &kp LBRC      &kp RBRC      &kp EQUAL     &kp QMARK     &kp BSPC
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
           &kp TAB      &kp SLASH     &kp DOLLAR   &kp PERCENT  &kp AMPERSAND   &kp MINUS          &kp SQT      &kp LPAR      &kp RPAR      &kp PIPE      &kp LBKT      &kp RCTRL
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          &kp LSHFT     &kp EQUAL      ______        ______        ______      &kp LS(LBKT)        &kp LT       &kp LBRC      &kp RBRC       &kp GT       &kp SLASH     &kp RSHFT 
    // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                     ______        ______        ______            ______        ______        ______
    //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)
