/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "keypos.h"
#include "helpers.h"
#include "spanish.dtsi"

#define ______ &trans

// layers
#define DEF 0
#define NUM 1
#define SYM 2

// Spanish definitions
#define es_egne   &kp SEMICOLON // Ñ ;

ZMK_BEHAVIOR(mm_slash_under, mod_morph,
    bindings = <&kp SLASH>, <&kp UNDER>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

ZMK_BEHAVIOR(td_ls_caps, tap_dance,
    tapping-term-ms = <250>;
    bindings = <&kp LSHFT>, <&kp CAPS>;
)

ZMK_BEHAVIOR(td_rs_caps, tap_dance,
    tapping-term-ms = <250>; 
    bindings = <&kp RSHFT>, <&kp CAPS>;
)

ZMK_BEHAVIOR(td_o_acute, tap_dance,
    tapping-term-ms = <250>; 
    bindings = <&kp O>, <&es_o_acute>;
)

ZMK_LAYER(default_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
           &kp ESC        &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I      &td_o_acute      &kp P        &kp BSPC
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
           &kp TAB        &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L        es_egne       &kp RET
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &td0          &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M       &kp COMMA       &kp DOT       &mm0          &td1 
    // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                    &kp LCMD      &mo NUM        &kp SPC           &kp RET      &mo SYM       &kp RALT
    //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(numbers_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
           &kp ESC       &kp STAR      &kp N1        &kp N2        &kp N3       &kp PLUS           &kp HOME     &kp PG_DN     &kp PG_UP      &kp END       ______      &kp K_VOL_UP 
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
           &kp TAB      &kp SLASH      &kp N4        &kp N5        &kp N6       &kp MINUS          &kp LEFT     &kp DOWN       &kp UP       &kp RIGHT      ______      &kp K_MUTE
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          &kp LSHFT     &kp EQUAL      &kp N7        &kp N8        &kp N9        &kp N0           &kp K_PREV    &kp K_STOP    &kp K_PLAY    &kp K_NEXT     ______      &kp K_VOL_DN
    // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                     ______        ______        ______            ______        ______        ______
    //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(symbols_layer,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
           &kp ESC      &kp STAR      &kp TILDE     &kp RA(N2)    &kp HASH      &kp PLUS           &kp DQT      &kp LBRC      &kp RBRC      &kp EQUAL     &kp QMARK     &kp BSPC
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
           &kp TAB      &kp SLASH     &kp DOLLAR   &kp PERCENT  &kp AMPERSAND   &kp MINUS          &kp SQT      &kp LPAR      &kp RPAR      &kp PIPE      &kp LBKT      &kp RCTRL
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          &kp LSHFT     &kp EQUAL      ______        ______        ______      &kp LS(LBKT)        &kp LT       &kp LBRC      &kp RBRC       &kp GT       &kp SLASH     &kp RSHFT 
    // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                     ______        ______        ______            ______        ______        ______
    //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)
